div.consola{
    background-color: #000;
    color: #FFFF00;
}
.consola .date{
    color: #0F0;
    font-size: 0.8em;
    font-style: italic;
}
.consola .error{
    color: #F00;
}
.consola .input-value{
    font-style: italic;
}
